.datagrid table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
.datagrid {
  font: normal 12px/150% Arial, Helvetica, sans-serif;
  background: #fff;
  overflow: hidden;
  border: 1px solid #006699;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 65%;
}
.datagrid table td, .datagrid table th {
  padding: 3px 10px;
}
.datagrid table thead th {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
  background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
  background-color:#006699;
  color:#FFFFFF;
  font-size: 15px;
  font-weight: bold;
  border-left: 1px solid #0070A8;
  text-align: center;
}
.datagrid table thead th:first-child {
  border: none;
}

.datagrid table tbody tr {
  color: #00496B;
  font-size: 12px;
  border-top: 1px solid #BAC4C9;
  font-weight: normal;
}
.datagrid table tbody td {
  color: #00496B;
  border-left: 1px solid #BAC4C9;
  font-weight: normal;
}
.datagrid table tbody sup {
  font-size: 12px;
}
.datagrid table tbody a {
  text-decoration: initial;
}
.datagrid table tbody td:first-child {
  border-left: none;
}
.datagrid table tbody tr:first-child {
  border-top: none;
}
.datagrid table tbody tr:last-child {
  border-bottom: none;
}
.datagrid table tfoot {
  border-top: 1px solid #006699;
  background: #E1EEF4;
}
.datagrid table tfoot td {
  padding: 2px;
  padding-left: 10px;
  font-size: 12px;
}
